* {
    padding: 0px;
    margin: 0px;
    font-family: 'Cairo', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul li {
    list-style: none;

}

.logo1 {
    width: 300px;
    height: auto;
    display: block;
    margin: 0px auto;
}

.thanhnav ul li {
    list-style: none;
}

.thanhnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    nav-left: 20px;
}

.thanhnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.thanhnav li a:hover:not(.active) {
    background-color: rgb(190, 190, 190);
}

li {
    float: left;
}
.footer_left a{
        color: seashell;
        padding-left: 14%;
}
    .footer_left img{
        padding-left: 14%;
}
.footer {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}

.footer_left a {
    color: seashell;
}

.footer_right {
    color: rgb(165, 161, 158);
    padding-left: 600px;
}
.sp01 img{
    width: 800px;
    padding-left: 20px;
}
.sp01{
    display: flex;
    /* text-align: center; */
}
.sp02{
    padding-left: 20px;
}
.sp02 h1{
    text-align: center;
}