@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
a {
  color: #fff;
  text-decoration: none;
}

.p_1 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5)
    ),
    url("./LessonImg/hero.jpg");
  background-position: center;
  background-size: cover;
}
.p_1 nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 30px 0px;
}
.p_1 nav ul {
  list-style: none;
  display: flex;
  width: 55%;
  justify-content: space-between;
  align-items: center;
}
.p_1 nav ul li {
  font-size: 19px;
  font-weight: 300;
  text-transform: uppercase;
}
.p_1 .logo img {
  width: 90px;
  height: 90px;
}

.p_1 .nav_intro {
  width: 40%;
  position: absolute;
  top: 42%;
  left: 15%;
}

.p_1 .nav_intro p {
  color: #fff;
  font-size: 39px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.p_1 .nav_intro a {
  border: 2px solid #e67e22;
  padding: 10px 18px;
  border-radius: 20px;
  font-weight: 300;
}
.p_1 .nav_intro .a {
  color: #fff;
  background-color: #e67e22;
}
.p_1 .nav_intro .b {
  color: #e67e22;
  margin-left: 10px;
  transition: 0.5s;
}

.p_1 .nav_intro .b:hover {
  background-color: #e67e22;
  color: #fff;
  transition: 0.5s;
}

.title {
  color: gray;
  font-size: 35px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}
.title::after {
  content: " ";
  width: 130px;
  height: 2px;
  background-color: #e67e22;
  display: block;
  margin: 20px auto;
}

.p_2 .top p:nth-child(2) {
  width: 70%;
  margin: 20px auto;
  text-align: center;
  font-size: 20px;
  color: gray;
  font-weight: 300;
}
.p_2 .body {
  width: 72%;
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
}

.p_2 .body .item {
  width: 23%;
  padding: 15px;
  color: gray;
  font-size: 300;
}
.p_2 .body .item p:nth-child(2) {
  text-transform: uppercase;
  font-size: 19px;
}
.p_2 .body .item i {
  color: orange;
  font-size: 40px;
}
.p_2 .body .item > * {
  margin-top: 8px;
}
.p_3{
    display:block;
}
.p_3 ul {
  list-style: none;
}
.p_3 ul li {
  float: left;
  width: 25%;
  overflow: hidden;
}
.p_3 ul li img {
  width: 100%;
  height: auto;
  opacity: 0.8;
  transform: scale(1.15);
  transition: 1s;
  cursor: pointer;
}
.p_3 ul li img:hover {
  opacity: 1;
  transform: scale(1.05);
  transition: 0.5s;
}
.p_4{
    background: whitesmoke;
    padding: 40px
}
.p_4 .body {
  display: flex;
  width: 72%;
  margin: 20px auto;
  justify-content: space-between;
}
.p_4 .body .left {
  width: 48%;
}
.p_4 .body .left img {
  float: right;
  width: 40%;
}
.p_4 .body .right {
  width: 48%;
}

.p_4 .body .right .item {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  margin: 35px 0px;
  font-size: 24px;
  color: gray;
  font-weight: 300;
}
.p_4 .body .right .item img {
  width: 150px;
  height: 50px;
}
.p_4 .body .right .item p {
  width: 90%;
  margin-left: 25px;
}
.number {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid orange;
  color: orange;
  text-align: center;
  align-items: center;
  line-height: 50px;
}
.list {
    display: flex;
    margin: 5% 0 0 7%;
}
.img_1 img{
    width: 70%;
}
#user {
    color: #fa6f04;
    margin-top: 2px;
}
.name_1 {
    text-transform: uppercase;
    color: rgb(158, 158, 158);
}
.introduce_1 {
    display: flex;
}
.introduce_11 {
    display: flex;
}
.introduce_1 p{
    margin-left: 5px;
}
.introduce_11 p {
    margin-left: 3px;
}
.introduce_111 {
    display: flex;
    color: #fa6f04;
}
.introduce_111 {
    text-decoration-style :solid;
}

.p_6 {
    margin-top: 7%;
}

.ava1 {
    margin-left: 10%;
}
.ava2 {
    margin-left: 35%;
}
.ava img {
    width: 50px;
    border-radius: 50%;
}

.p_7 {
    background-color:whitesmoke;
    padding: 5% 0 5% 0;
}

.l1st {
    display: flex;
    padding: 30px 0 0 0;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}
.plan_1 {
    background-color: rgb(255, 255, 255);
    padding: 3%;
}
.plan_01 p{
    font-size: 20px;
}

.plan_2 {
    background-color: rgb(255, 255, 255);
    padding: 3%;
    margin-left: 3%;
}

.plan_3 {
    background-color: rgb(255, 255, 255);
    padding: 3%;
    margin-left: 3%;
}
.price {
    display: flex;
}
.price_1 {
    display: flex;
    margin-bottom: 30px;
}
.mm {
    font-size: 40px;
    color: #e28743;
}

.month {
    color: #e28743;
    margin-top: 5px;
}

.mm1  {
    border-bottom: 2px solid rgb(243, 211, 211);
    color: rgb(190, 177, 177);
}

.mm2 {
    border-bottom: 2px solid rgb(243, 211, 211);
    color: rgb(190, 177, 177);
    margin-top: 7px;
}

.mm3 {
    border-bottom: 2px solid rgb(243, 211, 211);
    color: rgb(190, 177, 177);
    padding-left: 10px;
}

.tich {
    display: flex;
}

.tich p {
    margin-left: 5px;
    color: rgb(190, 177, 177);
}

.tich_00 {
    color: red;
}
#check {
    color: #e28743;
    margin-top: 3px;
}

.tich_1 {
    border-bottom: 2px solid rgb(243, 211, 211);
    display: flex;
}

.tich_1 p {
    margin-left: 4px;
    margin-bottom: 7px;
    color: rgb(190, 177, 177);
}
.sign a {
    margin-top: 30px;
    text-align: center;
    border: 2px solid #e28743;
    padding: 8px 13px;
    border-radius: 20px;
    font-weight: 300;
    background: #e28743;
    color: white;
    text-decoration: none;
}

.sign_0 a {
    margin-top: 8px;
    text-align: center;
    border: 2px solid #e28743;
    padding: 8px 13px;
    border-radius: 20px;
    font-weight: 300;
    color: rgb(8, 8, 8);
    transition: 0.5s;
    text-decoration: none;
}

.sign_0:hover a {
    background-color: #e28743;
    color: #fff;
    transition: 0.5s;
}

.p_77 {
  padding: 50px 50px 0 0;
  margin-bottom: 50px;
}

.title_7 {
  color: gray;
  font-size: 30px;
  font-weight: 150;
  margin-left: 700px;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 50px;    
}

.title_7::after{
  content: " ";
  width: 150px;
  height: 2px;
  background-color: #e28743;
  display: block;
  margin: 2px auto;
  margin-top: 10px;
  margin-right: 320px;
}

.name_p7 {
  display: flex;
}
.name_p7 p {
  margin-left: 600px;
  color: #bbbbbb;
}

.name_p7 input {
  border: 1px solid #bbbbbb;
}

.ip_name {
  margin-left: 128px;
  padding: 2px 312px 2px 4px;
  color: #bbbbbb;
  font-size: 16px;
}

.email_p7 {
  display: flex;
  margin-top: 5px;
  
}
.email_p7 p {
  margin-left: 600px;
  color: #bbbbbb;
}

.email_p7 input {
  color: #bbbbbb;
  border: 1px solid #bbbbbb;
}
.ip_email {
  margin-left: 130px;
  padding: 2px 312px 2px 4px;
  color: #bbbbbb;
  font-size: 16px;
}

.d_77 {
  display: flex;
}

.d_77 p{
  margin-left: 600px;
  color: #bbbbbb;
  margin-top: 10px;
}

.d_077 {
  color: #bbbbbb;
  border: 1px solid #bbbbbb;
  margin-left: 20px;
  margin-top: 10px;
  padding: 2px 430px 2px 4px;
  font-size: 16px;
}

.newlt {
  display: flex;
}

.newlt input {
  margin-left: 93px;
  margin-top: 20px;
}

.text_newlt {
  margin-left: 600px;
  color: #bbbbbb;
  margin-top: 10px;
}

.p_cb {
  margin-top: 14px;
  margin-left: 5px;
  color: #acabab;
}

.ip_cb {
  color: #bbbbbb;
  margin-left: 40px;
}

.lb_cb {
  color: #bbbbbb;
}

.noted {
  display: flex;
}

.noted p {
  margin-left: 600px;
  color: #bbbbbb;
  margin-top: 10px;
}

.noted input {
  margin: 10px 0 0 70px;
  padding: 0 340px 100px 0;
  color: #bbbbbb;
  border: 1px solid #bbbbbb;
  font-size: 15px;
}

.st a {
  margin-left: 765px;
  border: 2px solid #e28743;
  padding: 8px 13px;
  border-radius: 20px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  transition: 0.5s;
  text-decoration: none;
  background-color: #e28743;
}

.p_10 {
  background-color: black;
  padding: 50px 50px 0 0;
}

.all_8 {
  display: flex;
}

.app_8 {
  display: flex;
}
.app_8  p {
  color: #bbbbbb;
  margin-left: 60px;
  font-size: 14px;
}

.icon_app {
  display: flex;
  color: #bbbbbb;
  margin-left: 500px;
}

#icon_app2 {
  margin-left: 5px;
}

#icon_app3 {
  margin-left: 5px;
}

#icon_app4 {
  margin-left: 5px;
}

.end_8 {
  padding-top: 50px;
}

.end_8 p {
  color:#bbbbbb;
  text-align: center;
}

.end_88 {
  display: flex;
  margin-left: 430px;
  padding-bottom: 50px;
}

#icon_end88 {
  color: red;
  margin: 0 4px 0 4px;
}

.end_88 p{
  color:#bbbbbb ;
  /* margin-left: 300px; */
}

