*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

.p_1 {
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.8),rgba(0,0,0,0.5) ),url("./LessonImg/hero.jpg");
    background-position: center;
    background-size: cover;
}

.p_1 nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 30px 0;

}

.p_1 nav ul{
    list-style: none;
    display: flex;
    width: 55%;
    justify-content: space-between;
    align-items: center;
}

.p_1 nav ul li a{
    font-size: 17px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    color : rgb(219, 216, 216);
}

.p_1 .logo img {
    width: 90px;
    height: 100px;
}

.p_1 .nav_intro{
    width: 40%;
    position: absolute;
    top: 45%;
    left: 15%;
}

.p_1 .nav_intro p{
    color: rgb(250, 236, 236);
    font-size: 35px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

.p_1 .nav_intro a{
    border: 2px solid ;
    padding: 10px 18px;
    border-radius: 20px;
    text-decoration: none;
}

.p_1 .nav_intro a{
    border: 2px solid ;
    padding: 10px 18px;
    border-radius: 20px;
    font-weight: 300;
}

.p_1 .nav_intro .a{
    color: rgb(255, 255, 255);
    background-color: #e28743;
}

.p_1 .nav_intro .b{
    color: #e28743;
    margin-left: 10px;
    transition: 0.5s;
}

.p_1 .nav_intro .b:hover{
    background-color: #e28743;
    color: #fff;
    transition: 0.5s;
}
.p2 {
    margin-bottom: 50px;
}
.title{
    color: gray;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin-top: 25px;
}

.title::after{
    content: " ";
    width: 150px;
    height: 2px;
    background-color: #e28743;
    display: block;
    margin: 2px auto;
}
.top_0 {
    margin-top: 20px;
}
.title_0 {
    padding-left: 320px;
    font-size: 17px;
    color: rgb(134, 134, 134);
}

.container {
    display: flex;
    padding: 30px 0 0 182px;
    margin-bottom: 40px;
}

.container p{
    color: rgb(134, 134, 134);
    padding-top: 20px;
}

.item {
    margin: -5px 10px ;
}
#icon_0 {
    font-size: 29px;
    color: #e28743;
}

#icon_1 {
    font-size: 29px;
    color: #e28743;
}

#icon_2 {
    font-size: 29px;
    color: #e28743;
}

#icon_3 {
    font-size: 29px;
    color: #e28743;
}   

.bot img { 
    width: 337px;
    float: left;
    filter:brightness(50%);
}
.p_3 {
    background-color: rgb(231, 231, 231);
    padding: 50px;
}

.title_p3  {
    color: gray;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    margin-top: 500px;
}

.title_p3::after{
    content: " ";
    width: 150px;
    height: 2px;
    background-color: #e28743;
    display: block;
    margin: 2px auto;
    margin-top: 10px;
}

.top_1 {
    margin-top: 30px;
}

.app {
    display: flex;
}

.app img {
    width: 200px;
    margin-left: 390px;
    margin-top: 50px;
}
.text_number {
    margin: 200px 0 0 30px;
    display: flex;
    flex-direction: column;
}

.number_1 {
    display: flex;
}

.circle_1 {
    font-size: 40px;
    color: #e28743;
}
.text_1 {
    font-size: 18px;
    color: rgb(158, 156, 156);
    margin-left: 15px;
}
.number_2 {
    display: flex;
}

.circle_2 {
    font-size: 40px;
    color: #e28743;
}

.text_2 {
    font-size: 18px;
    color: rgb(158, 156, 156);
    margin-left: 15px;
}

.number_3 {
    display: flex;
}

.circle_3 {
    font-size: 40px;
    color: #e28743;
}

.text_3 {
    font-size: 18px;
    color: rgb(158, 156, 156);
    margin-left: 15px;
}

.app_0 {
    display: flex;
}

.app_0 img {
    width: 150px;
    float: left;
    margin-left: 2px;
}

.title_4 {
        color: gray;
        font-size: 30px;
        font-weight: 200;
        text-align: center;
        text-transform: uppercase;
        margin-top: 50px;
}

.title_4::after{
    content: " ";
    width: 150px;
    height: 2px;
    background-color: #e28743;
    display: block;
    margin: 2px auto;
    margin-top: 10px;
}

.list {
    display: flex;
    margin: 50px 0 0 100px;
}
.gc {
    margin-bottom: 200px;
    padding-top: 150px;
}
.gc::after {
    content: " ";
    width: 150px;
    height: 2px;
    background-color: #e28743;
    display: block;
    margin: 2px auto;
    margin-top: 10px;
}

.img_1 img{
    width: 70%;
}

.name_1 {
    text-transform: uppercase;
    color: rgb(158, 158, 158);
}

.introduce_1 {
    display: flex;
}

.introduce_11 {
    display: flex;
}

#user {
    color: #fa6f04;
    margin-top: 2px;
}

.introduce_1 p{
    margin-left: 5px;
}

.introduce_11 p {
    margin-left: 3px;
}

.introduce_111 {
    display: flex;
    color: #fa6f04;
}
.introduce_111 {
    text-decoration-style :solid;
}

.p_5 {
    margin-bottom: 50px;
}

.ava1 {
    margin-left: 100px;
}

.ava2 {
    margin-left: 480px;
}
.ava img {
    width: 50px;
    border-radius: 50%;
}

.p_6 {
    background-color: rgb(231, 231, 231);
    padding-top: 50px;
    padding-bottom: 50px;
}

.title_6 {
    color: gray;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;
}

.title_6::after{
    content: " ";
    width: 150px;
    height: 2px;
    background-color: #e28743;
    display: block;
    margin: 2px auto;
    margin-top: 10px;
}

.l1st {
    display: flex;
    padding: 30px 0 0 0;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;

}

.plan_1 {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    /* padding-right: -5px; */
}

.plan_01 p{
    font-size: 20px;
}

.plan_2 {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-left: 15px;
}

.plan_3 {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-left: 15px;
}

.price {
    display: flex;
}

.price_1 {
    display: flex;
    margin-bottom: 30px;
}
.mm {
    font-size: 40px;
    color: #e28743;
}

.month {
    color: #e28743;
    margin-top: 5px;
}

.mm1  {
    border-bottom: 2px solid rgb(243, 211, 211);
    color: rgb(190, 177, 177);
}

.mm2 {
    border-bottom: 2px solid rgb(243, 211, 211);
    color: rgb(190, 177, 177);
    margin-top: 7px;
}

.mm3 {
    border-bottom: 2px solid rgb(243, 211, 211);
    color: rgb(190, 177, 177);
    padding-left: 10px;
}

.tich {
    display: flex;
}

.tich p {
    margin-left: 5px;
    color: rgb(190, 177, 177);
}

.tich_00 {
    color: red;
}
#check {
    color: #e28743;
    margin-top: 3px;
}

.tich_1 {
    border-bottom: 2px solid rgb(243, 211, 211);
    display: flex;
}

.tich_1 p {
    margin-left: 4px;
    margin-bottom: 7px;
    color: rgb(190, 177, 177);
}

.sign a {
    margin-top: 30px;
    text-align: center;
    border: 2px solid #e28743;
    padding: 8px 13px;
    border-radius: 20px;
    font-weight: 300;
    background: #e28743;
    color: white;
    text-decoration: none;
}

.sign_0 a {
    margin-top: 8px;
    text-align: center;
    border: 2px solid #e28743;
    padding: 8px 13px;
    border-radius: 20px;
    font-weight: 300;
    color: rgb(8, 8, 8);
    transition: 0.5s;
    text-decoration: none;
}

.sign_0:hover a {
    background-color: #e28743;
    color: #fff;
    transition: 0.5s;
}

.p_77 {
    padding: 50px 50px 0 0;
    margin-bottom: 50px;
}

.title_7 {
    color: gray;
    font-size: 30px;
    font-weight: 150;
    margin-left: 700px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;    
}

.title_7::after{
    content: " ";
    width: 150px;
    height: 2px;
    background-color: #e28743;
    display: block;
    margin: 2px auto;
    margin-top: 10px;
    margin-right: 320px;
}

.name_p7 {
    display: flex;
}
.name_p7 p {
    margin-left: 600px;
    color: #bbbbbb;
}

.name_p7 input {
    border: 1px solid #bbbbbb;
}

.ip_name {
    margin-left: 128px;
    padding: 2px 312px 2px 4px;
    color: #bbbbbb;
    font-size: 16px;
}

.email_p7 {
    display: flex;
    margin-top: 5px;
    
}
.email_p7 p {
    margin-left: 600px;
    color: #bbbbbb;
}

.email_p7 input {
    color: #bbbbbb;
    border: 1px solid #bbbbbb;
}
.ip_email {
    margin-left: 130px;
    padding: 2px 312px 2px 4px;
    color: #bbbbbb;
    font-size: 16px;
}

.d_77 {
    display: flex;
}

.d_77 p{
    margin-left: 600px;
    color: #bbbbbb;
    margin-top: 10px;
}

.d_077 {
    color: #bbbbbb;
    border: 1px solid #bbbbbb;
    margin-left: 20px;
    margin-top: 10px;
    padding: 2px 430px 2px 4px;
    font-size: 16px;
}

.newlt {
    display: flex;
}

.newlt input {
    margin-left: 93px;
    margin-top: 20px;
}

.text_newlt {
    margin-left: 600px;
    color: #bbbbbb;
    margin-top: 10px;
}

.p_cb {
    margin-top: 14px;
    margin-left: 5px;
    color: #acabab;
}

.ip_cb {
    color: #bbbbbb;
    margin-left: 40px;
}

.lb_cb {
    color: #bbbbbb;
}

.noted {
    display: flex;
}

.noted p {
    margin-left: 600px;
    color: #bbbbbb;
    margin-top: 10px;
}

.noted input {
    margin: 10px 0 0 70px;
    padding: 0 340px 100px 0;
    color: #bbbbbb;
    border: 1px solid #bbbbbb;
    font-size: 15px;
}

.st a {
    margin-left: 765px;
    border: 2px solid #e28743;
    padding: 8px 13px;
    border-radius: 20px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    text-decoration: none;
    background-color: #e28743;
}

.p_8 {
    background-color: black;
    padding: 50px 50px 0 0;
}

.all_8 {
    display: flex;
}

.app_8 {
    display: flex;
}
.app_8  p {
    color: #bbbbbb;
    margin-left: 60px;
    font-size: 14px;
}

.icon_app {
    display: flex;
    color: #bbbbbb;
    margin-left: 500px;
}

#icon_app2 {
    margin-left: 5px;
}

#icon_app3 {
    margin-left: 5px;
}

#icon_app4 {
    margin-left: 5px;
}

.end_8 {
    padding-top: 50px;
}

.end_8 p {
    color:#bbbbbb;
    text-align: center;
}

.end_88 {
    display: flex;
    margin-left: 430px;
    padding-bottom: 50px;
}

#icon_end88 {
    color: red;
    margin: 0 4px 0 4px;
}

.end_88 p{
    color:#bbbbbb ;
    /* margin-left: 300px; */
}